{% extends '_base.html' %}

{% block title %}About me{% endblock %}

{% block content %}


<section>
  <div
    class="space-y-24 overflow-y-auto prose-sm prose text-gray-500 divide-y max-h-[50vh] mpx-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl prose-headings:font-normal prose-headings:text-xl">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>16 March - 2024</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>80% faster widgets</h1>
            <p class="line-clamp-4">
              In our latest update, we've revolutionized the performance of our
              widgets, achieving a remarkable 80% increase in loading speeds.
              This breakthrough ensures a seamless experience across all
              Snowpeaks widgets, setting a new standard for efficiency and user
              satisfaction. Dive into the details to see how our widgets now
              lead the pack in speed and reliability.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>1 March - 2024</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>Teams support</h1>
            <p class="line-clamp-4">
              Expanding your business operations has never been easier with our
              new Teams support feature. Now, you can empower your team by
              inviting members to manage and run your Snowpeak store
              collaboratively. Streamline your workflow and boost productivity
              by leveraging the strengths of your team, all accessible from our
              revamped Team settings page.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>20 February - 2024</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>Modify subscriptions in the dashboard</h1>
            <p class="line-clamp-4">
              We've brought the power of our API directly to your fingertips
              with an intuitive dashboard feature that allows for effortless
              modification of subscription plans. Now, managing your
              subscriptions is as simple as clicking 'Modify subscription'—a
              feature designed to streamline plan adjustments and proration
              handling. Experience the ease of subscription management with our
              user-friendly dashboard.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>28 February - 2024</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>New Analytics Dashboard</h1>
            <p class="line-clamp-4">
              Unveiling our latest innovation, the Analytics Dashboard, designed
              to offer deeper insights into your store's performance with just a
              glance. Track visitor behavior, sales trends, and more with our
              comprehensive and intuitive interface. This new dashboard is
              engineered to help you make informed decisions, driving your
              business towards unparalleled growth.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>10 February - 2024</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>Enhanced Security Features</h1>
            <p class="line-clamp-4">
              Security is paramount, and with our latest update, we're
              introducing enhanced security features to safeguard your online
              store. Benefit from advanced encryption, real-time monitoring, and
              automated threat detection. These updates fortify your store's
              defenses, ensuring your data, and your customers' data, remains
              protected against evolving cyber threats.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-32">
      <div>
        <div class="top-0 lg:sticky lg:pb-16">
          <div class="pt-8">
            <p>25 March - 2023</p>
          </div>
        </div>
      </div>
      <div class="pt-8 lg:col-span-2">
        <div class="flex-shrink-0">
          <div class="mx-auto">
            <img class="aspect-[4/3] object-cover" src="../images/placeholders/rectangle1.svg" alt="#_">
            <h1>New Feature Launch: Interactive Dashboards</h1>
            <p class="line-clamp-4">
              Our latest update introduces Interactive Dashboards, allowing
              users to dynamically interact with their data like never before.
              Customize, explore, and gain insights in a wholly intuitive and
              seamless manner.
            </p>
            <p><a href="#_">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
