{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" x-cloak x-data="{ theme: $persist('auto').as('theme') }" x-bind:class="{
  'dark': theme === 'dark' ||
  (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)
}">

<head>
  <meta charset="utf-8">
  <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}'>
  {% block meta %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.14.1/dist/cdn.min.js"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.2/dist/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.2/dist/ext/ws.js"></script>
  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link href="https://fonts.bunny.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  {% tailwind_css %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
  {% endblock %}
</head>

<body hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}" hx-boost="true" hx-indicator=".progress"
  class="dark:bg-slate-900">

  {% include '_header.html' %}

  <main id="mainContent">
    {% block content %}{% endblock %}
  </main>


  {% block javascript %}
  <script src="{% static 'pages/js/base.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  {% endblock javascript %}

</body>
{% include '_footer.html' %}

</html>
